black
chardet
clip @ git+https://github.com/openai/CLIP.git
fairscale
fire
fsspec
matplotlib
natsort
ninja
numpy
open-clip-torch==2.24.0
pandas
pillow
pyyaml
rembg
scipy
tensorboardx
timm
tokenizers
torch
torchaudio
torchdata
torchvision
tqdm
triton
urllib3
wandb
webdataset
wheel
xformers
gradio
streamlit-keyup
albumentations
diffusers
opencv-python
pudb
invisible-watermark
imageio
imageio-ffmpeg
pytorch-lightning
omegaconf
test-tube
streamlit
einops
torch-fidelity
transformers
torchmetrics
kornia
-e git+https://github.com/CompVis/taming-transformers.git@master#egg=taming-transformers
sige
sdm